{vm_name,"pod_not_defined"}.
{ip_addr,"not_defined"}.
{port,not_defined}.
{mode,parallell}.
{worker_start_port,40000}.
{num_workers,5}.
{source,{dir,"basic"}}.
{services_to_load,[]}.
{files_to_keep,[".git","Makefile","computer.config","boot_service","include",
                "lib_service","ebin","test_ebin"]}.
{master_dns,not_applicable}.
